* {
    margin:30px;
    padding:0px;
    box-sizing: border-box;
}

.caixa {
    background-color: pink;
    border:1px solid black;
    height: 200px;
    width: 200px;
    transition: all 0.4s;
    border-radius: 10px;
}
/* .caixa:hover {
    background-color: green;
    border:5px solid red;
} */
/* .caixa:hover {
    transform:translateX(100px);
} */
/* .caixa:hover {
    transform: rotate(360deg);
    background-color: green;
    color: white;
} */
/* .caixa:hover {
    transform: scale(1.1);
    box-shadow: 2px 2px 10  10px black;
} */
