* {
    box-sizing: border-box;
    margin:0px;
    padding:0px;
}
.projetos {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: rgb(225, 225, 225);
}
.projetos img {
    width:100%;
}
.projetos h2 {
    text-align: center;
    margin: 10px 0px;
}
.projetos p {
    text-align: justify;
}
.projetos > div {
    margin-bottom: 30px;
}
@media screen and (min-width: 1000px){
    .projetos {
        flex-direction: row;
    }
    .projetos img {
        width: 500px;
    }
    .projetos > div {
        padding: 40px;
    }
    .projetos h2 {
        font-size: 28px;
    }
    .projetos  {
        text-align: center;
    }
}

