* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: black;
}

section {
    width: 1200px;
    margin: auto;
    background-color: white;
}
.container {
    display: flex;
    flex-direction: row;
}

.container > div {
    width:100%;
    border:1px solid black;
}