* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}



/* Versão: Mobile */
body {
    background-color: yellow;
}
p {
    color: red;
    font-size: 24px;
}

/* Versão: Tablet*/
@media screen and ((min-width: 767px) and (max-width: 1023px)) {
    body {
        background-color: pink;
    }
    p {
        font-size:20px;
    }
}

/* Versão: Desktop*/
@media screen and (min-width: 1024px) {
    body {
        background-color: gray;
    }
    p {
        color: white;
        font-size: 16px;
    }
}