@import url('https://fonts.googleapis.com/css2?family=Honk&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');

h1 {
     font-family: "Honk", "arial", "verdana";
}
p {
    font-family: "Creepster", system-ui;
}
/* @font-face {
    font-family: "wilton";
    src: url('../fonts/font1.ttf');
}
p {
    font-family: "wilton";
} */