* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: black;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.container > div {
    border: 1px solid red;
    width: 300px;
    padding: 20px;
    text-align: center;
    margin: 10px;
    transition: all 0.1s;
    box-shadow: 4px 4px 5px rgb(191, 191, 191);
}
.container > div:hover {
    background-color: rgb(247, 247, 211);
    color: orangered;
    cursor: pointer;
    /* transform: rotate(360deg); */
    /* transform: scale(1.1); */
    /* letter-spacing: 5px; */
    /* transform: translateX(10pc); */
}
.container > div:active {
    transform: scale(0.95);
}
section {
    width: 1000px;
    margin:auto;
    background-color: white;
    padding: 20px;
}
.programaInstitucional h2 {
    text-align: center;
    margin: 10px 0px 20px 0px;
}