* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.container {
    border:10px solid black;
    display: flex;
    flex-direction: column;
}

.box {
    border: 10px solid pink;
}

@media screen and (min-width: 700px) {
    .container {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .box {
        width:50%;
    }
}

@media screen and (min-width: 1200px) {
    .box {
        width:25%;
    }
}
