* {
    box-sizing: border-box;
    margin:0px;
    padding: 0px;
}

body {
    background-color: black;
}

header img {
    width:100%;
    display: block;
}

header nav {
    background-color: rgb(82, 59, 135);
}

header nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

header nav ul li {
    list-style: none;
}

header nav a:link, header nav a:visited  {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    display: inline-block;
}

header nav a:hover {
    background-color: white;
    color: rgb(82, 59, 135);
}

main section {
    width: 1000px;
    margin: auto;
    padding: 30px;
}

main section:nth-child(odd) {
    background-color: white;
}

main section:nth-child(even) {
    background-color: rgb(214, 214, 214);
}

footer {
    padding: 40px
}

footer p {
    color: white;
    text-align: center;
}

.txtDestaque {
    color: red;
    font-weight: bold;
    margin: 25px 0px;
}