.box {
    border:1px solid black;
    width: 100px;
    height: 30px;
    text-align: center;
    background-image: url('../img/faceBlack.png');
    background-repeat: no-repeat;
    background-position: center 10px;
    padding-top: 50px;
}

.box:hover {
    background-image: url('../img/face.png');
}