/* Configuração global */
* {
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

/* Configurações para celulares */
.container {
    border:2px solid black;
    display:flex;
    flex-direction: column;
}
.container > div {
    border:2px solid red;
    width:100%;
    background-color: pink;
}

/* Configurações para desktops */
@media screen and (min-width: 1024px) {
    .container {
        flex-direction: row;
    }
    .container > div {
        background-color: yellow;
    }
}