h1 {
    color: red;
    background-color: yellow;
    text-align: center;
    font-family: arial;
    font-size: 50px;
    letter-spacing: 10px;
    text-decoration: underline;
}

p {
    font-family: arial;
    font-size: 20px;
    line-height: 3em;
    font-style: italic;
    background-color: rgb(219, 219, 219);
}