* {
    margin:0px;
    padding:0px;
}

main {
    margin-top:60px;
}

.caixa {
    border:1px solid black;
    border-bottom: 10px solid black;
    background-color: rgba(222, 142, 156, 0.7);
    padding: 10px;
    width:100%;
    position:fixed;
    top:-35px;
    left: 0px;
    transition: all 1s;
}
.caixa:hover {
    top:0px;
}

.caixa2 {
    border:1px solid black;
    background-color: yellow;
    width: 150px;
    position:absolute;
    top: 100px;
    left: 50px;
}