* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
        grid-template-rows: 6;
    gap: 20px;

}

.container > div {
    border:1px solid black;
}

@media screen and (min-width:768px) {
    .container {
        width: 1200px;
        margin: auto;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, minmax(150px, auto));
    }
    .cardDestaque {
  /* Faz este card ocupar o espaço de 2 colunas do grid */
  grid-column: span 2;
  
  /* Estilos visuais apenas para destaque */
  background-color: #e3f2fd; 
  border-color: #2196f3;
}
}