@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    padding: 0px;
}
body {
    font-family: 'Roboto', sans-serif;
}

header, footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 50px;
}
.apresentacao img {
    width: 55px;
}
.apresentacao > div > div{
    background-color: rgba(255,255,255,0.8);
    width: 620px;
    height: 400px;
    padding: 40px;
}
.apresentacao {
    height: 500px;
}
.apresentacao {
    background-image: url('../img/topo.png');
    background-repeat: no-repeat;
    background-size: 100%;
}
.apresentacao h1 {
    border-bottom: 10px solid black;
    font-size: 40px;
}
p {
    margin: 20px 0px;
    padding: 0px 20px 0px 0px;
}
button {
    background-color: black;
    color:white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    border: 1px solid black;
}
button:hover {
    background-color: rgb(208, 208, 208);
    border: 1px solid black;
    color: black;
    cursor: pointer;
}
button:active {
    transform: scale(0.9);
}
section {
    padding: 50px;
}
.plataforma {
    background-color: rgb(207, 207, 207);
}
.seguranca > div > div {
    display: flex;
    flex-direction: row;
    
}
.seguranca > div > div img {
    width: 90%;
}
.seguranca > div > div p {
    text-align: justify;
}
.quemsomos > div {
    display: flex;
    flex-direction: row;
}
.quemsomos {
    
    background-color: rgb(207, 207, 207);
}
.compromissos {
    display: flex;
    flex-direction: row;
}
.compromissos > div {
    padding: 20px;
}
.moldura {
    width: 1200px;
    margin:auto;
}
.molduraInterna {
    width: 900px;
}
h2 {
    margin: 30px 0px;
}


